
.todo_container{
    display:grid;
    justify-content: space-between;
    flex-flow: row wrap;
    grid-template-columns: 1fr 2fr;
}

.todo{
    text-align: left;
    flex: 1 0 60px;
    overflow:scroll;
}

.todo ul{
    margin-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;

}

.todo_item{
    text-align: left;
}
.todo_item:hover{
    font-weight:bold;
    background-color: var(--main-background-color-alt);
}

.todo_done{
    text-decoration: line-through;
    opacity:50%;
}

.todo textarea{
    
    font-size:0.90em;
    background-color: transparent;
    color:var(--main-text-color);
    font-family: "Poppins", sans-serif;
    box-shadow: none;
    outline:0;
    border: 1px solid var(--main-text-color);
    mask-image: linear-gradient(
        180deg,
        white,
        white,
        white,
        rgba(0, 0, 0, 0.1)
    );
    -webkit-mask-image: linear-gradient(
        180deg,
        white,
        white,
        white,
        rgba(0, 0, 0, 0.1)
    );
}

