@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Gabarito:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --main-text-color: darkgrey;
  --popup-text-color: #1b012d;
  --main-background-color: black;
  --main-background-color-alt: #474747;
  --popup-background-color: darkgray;

}


body {
  /* background-color: var(--main-background-color); */
  font-family: "Poppins", sans-serif;
  color: var(--main-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-background-color);
  background-image: url('../public/images/joshua-woroniecki-3mXIZP6_6zY-unsplash.jpg');
  background-size: cover;
}



p {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "Dosis", sans-serif;
}

h2,
h3,
h4 {
  font-family: "Gabarito", sans-serif;
  margin: 0;
}

.popup {
  color: var(--popup-text-color);
  background-color: var(--popup-background-color);
}

.errorMessage {
  color: red;
}

.Appcontainer {
  padding:10px;
  width: 100%;
  background-color: var(--main-background-color);
}

.App {
  color: var(--main-text-color);
  text-align: center;
  max-width: 1200px;

}

.wall {
  text-align: justify;
  list-style-type: none;
}
.wall h4 {
  font-size:1.1em;
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: var(--main-background-color-alt);
  padding: 10px;
  justify-content: space-between;
}

.grid-item {
  margin: 10px;
  background-color: var(--main-background-color);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  text-align: center;
  height: 700px;
  max-width: 600px;
  flex: 1
  
}

.content {


  height: 600px;
  overflow-y: auto;
  clear: both;
}


/* .content tbody{
	overflow: auto;
} */
.calendar tr {
  border-bottom: 1px solid var(--main-text-color);
}

.calendarItem {
  border: 1px solid var(--main-background-color-alt)
}

textarea {
  resize: none;
}