@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Gabarito:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  --main-text-color: darkgrey;
  --popup-text-color: #1b012d;
  --main-background-color: black;
  --main-background-color-alt: #474747;
  --popup-background-color: darkgray;
}


body {
  /* background-color: var(--main-background-color); */
  font-family: "Poppins", sans-serif;
  color: var(--main-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-background-color);
  background-image: url('../public/images/joshua-woroniecki-3mXIZP6_6zY-unsplash.jpg');
  background-size: cover;
}



p {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "Dosis", sans-serif;
}

h2,
h3,
h4,
h5 {
  font-family: "Gabarito", sans-serif;
  margin: 0;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.title {
  width: 100%
}

nav a {
  padding: 10px;
}

.popup {
  color: var(--popup-text-color);
  background-color: var(--popup-background-color);
}

.errorMessage,
.error {
  color: red;
}

.Appcontainer {
  padding: 10px;
  width: 900px;
  background-color: var(--main-background-color);
}


.App {
  color: var(--main-text-color);
  text-align: center;
  max-width: 1200px;

}

.wall {
  text-align: justify;
  list-style-type: none;
}

.wall h4 {
  font-size: 1.1em;
}


.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--main-background-color-alt);
  padding: 10px;
  justify-content: space-between;
}

.grid-item {
  flex: 1 0 80px;
  margin: 10px;
  background-color: var(--main-background-color);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  text-align: center;
  height: 700px;
  overflow: hidden;
  flex: 1;
}

.calendar {
  overflow-x: scroll;


}

.content {
  height: 600px;
  overflow-y: auto;
  clear: both;
}


/* .content tbody{
	overflow: auto;
} */
.calendar tr {
  border-bottom: 1px solid var(--main-text-color);

}


.calendarItem {
  border: 1px solid var(--main-background-color-alt);
}

textarea {
  resize: none;
}

.addButton {
  display: block;
  margin: 0;
  padding: 0;

  width: 100%;

  filter: grayscale(100%);
  ;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);

}

.addButton:hover {

  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);

}

.addButton div {
  display:  inline-block;
}

.friend {
  width: 100%;
}

.friends-container {
  border: 1px solid var(--main-background-color-alt);
  margin-bottom: 10px;
  overflow: hidden;
  height: 95%
}

.friend-list-container {
  overflow: scroll;
  height: 100%
}

.friend-details {
  display: flex;
  justify-content: space-between;

}

.friend-details div {
  display: inline-flex;
  text-align: center;
  width: 100%;
}

.friend-button-bar {
  display: flexbox;
  justify-content: space-between;
}

.PFP {
  /* default size */
  /*   width: 100px;
  height: 100px; */
  border: 1px solid var(--main-background-color-alt);
  background-image: var(--main-background-color);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}


button,
input,
optgroup,
select,
textarea,
.button-like-link {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-family: "Poppins", sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button:disabled {
  filter: grayscale(100%);
  ;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}

.button-like-link {
  /* Basic button styles */
  display: inline-block;
  text-decoration: none;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  ;
  cursor: pointer;
  margin: 2px;
  border-top: 2px solid #e3e3e3;
  border-right: 2px solid #979797;
  border-bottom: 2px solid #979797;
  border-left: 2px solid #e3e3e3;
}

button,
.button-like-link {
  box-shadow: 10px var(--main-text-color);
}

.button-like-link:active {

  background-color: var(--main-background-color);
  border-top: 2px solid #979797;
  border-right: 2px solid #e3e3e3;
  border-bottom: 2px solid #e3e3e3;
  border-left: 2px solid #979797;
}

.button-like-link.active {
  font-weight: bold;
}

.smallvp-button-block {
  display: none;
}

/* tablet veiw */
@media only screen and (max-width: 900px) and (min-width:525px) {
  body {
    background-image: none;
  }

  .Appcontainer {
    max-width: 525px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--main-background-color-alt);
    padding: 10px;
    justify-content: space-between;
  }

  .smallvp-button-block {
    display: inline-block;
  }

}

@media only screen and (max-width:525px) {
  .Appcontainer {
    max-width: 400px;
    background-color: transparent;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 0;
    width: 300px;
    background-color: transparent;
    height:100%;
    padding-bottom: 10px;
  }

  .grid-item {
    width: 100%;
  }

  header {
    flex-direction: column;
  }

  .title {
    background-color: var(--main-background-color);
  }

  .PFP {
    background-color: var(--main-background-color);
  }

  .smallvp-button-block {
    display: inline-block;
  }
}